@import './base.css';

#app {

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(90,197,250);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(90,197,250,0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
  }
}
